{% extends 'base.html' %}
{% block title %}

مدیریت کاربران

{% endblock %}

{% block bodyclass %}

<body class="panel d-flex align-items-center">
    {% endblock %}

    {% block content %}
    <div class="card">
        <div class="card-body my-3">
            <div class="card-title text-success text-center">
                {{request.user.get_full_name}} عزیز، 
                شما در حال حاضر در صفحه مدیریت کاربران هستید
            </div>
            <div class="mt-5 row justify-content-center">
                <a href="/manageusers/adduser/" class="col-12 col-md-5 m-2 py-4 btn btn-primary">
                ساخت کاربر جدید
                </a>
                <a href="/admin/auth/user/" class="col-12 col-md-5 m-2 py-4 btn btn-success">
                مشاهده همه کاربران
                </a>
                <a href="/admin/management_system/userterm/?payment_status__exact=0" class="col-12 col-md-5 m-2 py-4 btn btn-warning">
کاربرانی که موعد شهریه آنها رسیده است
                </a>
                <a href="/admin/management_system/userterm/?class_status__exact=0" class="col-12 col-md-5 m-2 py-4 btn btn-warning">
                کاربرانی کلاس خود را لغو کردند
                </a>
                <a href="/mypanel/" class="col-12 col-md-5 m-2 py-4 btn btn-danger">
                    برگشت به پنل مدیریت
                </a>

            </div>
        </div>
    </div>


    {% endblock %}