@charset "UTF-8";
/* Miniresets */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

/* Fonts */
/* Iransans License : M9X4S8 - Iransans DastNevis License : 34NHBC */
@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iransansdnbold.eot");
  src: url("../fonts/eot/iransansdnbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/iransansdnbold.woff2") format("woff2"), url("../fonts/woff/iransansdnbold.woff") format("woff"), url("../fonts/ttf/iransansdnbold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iransansdnlight.eot");
  src: url("../fonts/eot/iransansdnlight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/iransansdnlight.woff2") format("woff2"), url("../fonts/woff/iransansdnlight.woff") format("woff"), url("../fonts/ttf/iransansdnlight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: iransansdn;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iransansdn.eot");
  src: url("../fonts/eot/iransansdn.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/iransansdn.woff2") format("woff2"), url("../fonts/woff/iransansdn.woff") format("woff"), url("../fonts/ttf/iransansdn.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb_Black.eot");
  src: url("../fonts/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Black.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
  font-display: swap;
}


html,body {
  height:100%;
    font-family: IRANSans;
    direction: rtl;
    -webkit-transition: 0.5s ease-in-out !important;
    transition: 0.5s ease-in-out !important;
  }

.panel{
  background-color: cornflowerblue;
}

.panel .card{
  max-width: 1100px;
  width: 100%;
  margin: auto;
}